XML directory/commentRulesSchema.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rulesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rule" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="commentDelimiter"/>
              <xs:element type="xs:string" name="delimiterSubstitute"/>
              <xs:element type="xs:string" name="testCommentWord"/>
              <xs:element type="xs:string" name="prodCommentWord"/>
            </xs:all>
            <xs:attribute type="xs:string" name="library" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>