XML directory/rulesSchema.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rulesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rule">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="original"/>
              <xs:element type="xs:string" name="customized"/>
              <xs:element type="xs:string" name="member"/>
              <xs:element type="xs:string" name="exceptMember"/>
            </xs:all>
            <xs:attribute type="xs:string" name="library"/>
            <xs:attribute type="xs:string" name="application"/>
            <xs:attribute type="xs:string" name="geography"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>